/*sets globales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

body {
  background-image: url(../images/tarjeta/background\ 2.png);
  background-position: center;
  background-size: contain;
  font-family: sans-serif;
}

/*---------HEADER---------*/
.navbar {
  background-color: #FFFFFF;
  height: 8rem;
  padding: 0.5rem;
  margin: 1rem 1.2rem;
  border-radius: 1.4rem;
}

.navbar img{
  height: 8rem;
  border-radius: 2.5rem;
}
.nav-item a {
  color: #1667f7;
  transition: 0.3s;
  font-size: 2.2rem;
}

.nav-item a:hover {
  color: black;
  border-bottom: .1rem solid #1667f7;
  padding: 0.2rem;
}

.login-button {
  background-color: #1667f7;
  color: white;
  padding: .5rem .5rem;
  border-radius: .5rem;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: white;
  color: black;
  border: solid .1rem #1667f7;
}

/*-------------HERO-SECTION--------------*/
.hero {
  width: 100%;
  height: 80vh;
  margin: 0px auto;
  background-image: url(../images/hero/probar/pexels-tima-miroshnichenko-6235108.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  background-size: cover;
}

.hero .titulo {
  margin-left: 30rem;
}

.hero .titulo h1 {
  font-size: 4.8rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 900;
  color: #ffffff;
}

.hero .titulo a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  background-color: #1667f7;
  padding: 1rem;
  border-radius: .5rem;
  color: white;
  transition: 0.3 background-color;
}

.hero .titulo a:hover {
  background-color: white;
  color: #1667f7;
}

/*-------------tarjetitas--------------*/
.tarjetitas {
  height: 60rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tarjetitas div {
  margin: 2rem;
}

/*-------------columna-1-------------*/
.columna-1 {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.columna-1 div {
  height: 20rem;
  width: 18rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 1);
  margin: .8rem;
  padding: .6rem;
}

.tarjetitas .item{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  flex-direction: column;
  justify-content: end;
}

.tarjetitas .item:nth-child(2){
  color: #ffffff;
}

.img1 {
  background-image: url(../images/tarjeta/cruz.png);
}

.img2 {
  background-image: url(../images/tarjeta/diente.png);
}


.img3 {
  background-image: url(../images/tarjeta/pildora\ contorno.png);
}
.img4 {
  background-image: url(../images/tarjeta/hueso.png);
}

/*-------------columna-2-------------*/
.columna-2 {
  justify-content: center;
  align-items: center;
  width: 30rem;
  font-size: 2rem;
}

.columna-2 div a {
  background-color: #1667f7;
  border-radius: .4rem;
  text-decoration: none;
  color: white;
  padding: .4rem .8rem;
}

/*-------------Galeria--------------*/
.servicios {
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.serv {
  width: 30rem;
  margin: 3rem;
  border-radius: .8rem;
  overflow: hidden;
}

.servicios img {
  height: 30rem;
  width: 25rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1.2rem;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 1);
  margin: 10px;
}

.serv h3 {
  display: flex;
  justify-content: center;
  background-color: #312722d0;
  color: #ffffff;
}

/*-------------Why---------------*/
.why {
  height: 80rem;
  margin-top: 3rem;
  font-size: 2.6rem;
}

.tit {
  height: 30rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circulo img {
  height: 20rem;
  width: 20rem;
  object-position: center;
  object-fit: cover;
}

.tar {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tar div {
  width: 20rem;
}

.carta {
  margin: 0px 6rem;
}

.texto{
  margin-top: 3rem;
}

.circulo {
  height: 20rem;
  width: 20rem;
  border-radius: 10rem;
  overflow: hidden;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 1);
}

/*-------------Log-Testimonios---------------*/
.log-testimonios {
  background-color: #85C1E5;
  background-image: url(../images/banner/22.png);
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  height: 20rem;
  max-width: 80%;
  margin: 8rem auto;
  border-radius: 8rem;
}

.log-testimonios div{
  margin-left: 20rem;
}

.log-testimonios div a {
  text-decoration: none;
  background-color: #1667f7;
  color: white;
  padding: .6rem;
  border-radius: .6rem;
  font-size: 3rem;
}

/*-------------Acordeon---------------*/
.contenedor-acordeon{
  background-image: url(../images/banner/33.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color:#f9f5eace;
  max-width: 120rem;
  margin: 10rem auto;
  border-radius: 1rem;
}

.acordeon {
  max-width: 40rem;
  padding: 4rem 0;
 margin: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  
}

.acordeon summary{
  background-color: #85c0e569;
  padding: 1rem;
  font-size: 2rem;
  border-radius: .7rem;
  list-style-image: url(../images/Web/icons8-más-2-matemáticas-ios-17-filled-16.png);
  cursor: pointer;
}
.acordeon details p{
  padding: 1rem;
}

/*-------------Footer---------------*/
footer{
  background-color:#212529;
  color: #AEB2B6;
  height: 7.8rem;
}
footer .contenido .box{
  display: flex;
  align-items: center;
}

footer .contenido .box a{
  margin: .5rem;
}

footer .contenido .box p{
  margin: 1rem;
  font-size: 1.5rem;
}

footer .contenido .box img{
  border-radius: 2.5rem;
  transition: .5s;
}

footer .contenido .box img:hover{
  scale: 1.2;
}

footer .contenido{
  max-width: 120rem;
  margin: 0 auto;
  justify-content: space-between;
  padding: 1rem;
}

/*-------------Page Alimentacion---------------*/
.hero-alimentacion {
  background-image: url(../images/page-alimentacion/hero/2149392632.jpg);
  background-position: center;
  background-size: cover;
  height: 70rem;
  margin: 0px auto;
}

.hero-alimentacion .titulo{
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hero-alimentacion .titulo h2{
  font-size: 4rem;
  color: #ffffff;
}

/*-------------productos---------------*/
.contenedor {
  max-width: 100rem;
  margin: 2rem auto;
}

.contenedor .contenedor-productos {
  grid-template-columns: repeat(auto-fill, minmax(200px,2fr));
  gap: 1rem;
}

.contenedor .contenedor-productos .product {
  text-align: center;
  background-color: hsl(57, 35%, 75%);
  border-radius: 1.2rem;
  overflow: hidden;
}
.contenedor .contenedor-productos .product img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1.2rem 1.2rem 0px 0px;
}

/*-------------Baner---------------*/
.baner {
  background-image: url(../images/banner/1.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  height: 20rem;
  width: 80%;
  margin: 8rem auto;
  border-radius: 8rem;
  align-items: center;
}

.baner h2{
  margin-left: 40rem;
  font-size: 8rem;
  color: white;
  font-family: sans-serif;
}

/*-------------Trending---------------*/
.tendencias{
  max-width: 100rem;
  margin: 4rem auto;
}

.contenedor-tendencias {
	grid-template-columns: repeat(2,1fr) 1.8fr;
  grid-auto-rows: 30rem;
	gap: 1.5rem;
}


.contenedor-tendencias .destacada{
  background-image: url(../images/page-alimentacion/trending/2150565427.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 1 / 3 / 3 / 4;
  justify-content: end;
  flex-direction: column;
}

.contenedor-tendencias .destacada a{
  margin-bottom: 5rem;
}

.item{
  background-color: #85C1E5;
  text-align: center;
  border-radius: 2rem;
}

.item img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem 2rem 0 0;
} 

/*-------------Media-Queries---------------*/
@media  (max-width:1200px){
  .servicios{

    display: grid;
    grid-template-columns: repeat(2,25rem);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
  }
  
  .tit{
    margin-top: 30rem;
  }
}

@media(max-width:920px){
  .carta:last-child{
    display: none;
  }

  .contenedor-tendencias {
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: 30rem;
  }
  .destacada{
  display: none;
  }
}

@media(max-width:700px){
  .tarjetitas .columna-1{
    display: none;
  }
}

@media(max-width:600px){
  .hero .titulo {
    margin-left: 10rem;
  }

  .carta:first-child{
    display: none;
  }
 
  .servicios div:nth-child(1){
    display: none;
  }

  .servicios div:last-child{
    display: none;
  }

  .servicios{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

  .tit{
    margin-top: 10rem;
  }

  .log-testimonios div{
    margin-left: auto;
  }
}

/*=================Page Peluqueria================*/
.tit_pelu{
  text-align: center;
  font-family: sans-serif;
  color: #c5a506;
  font-weight:bold;
  padding-top:100px ;
}

.pelu{
  justify-content: space-evenly;
  padding: 50px ;
}

.pelu .card{
  transition: 300ms;
  position: relative;
  cursor: pointer;
}

.pelu .card:hover{
  transform:scale(1,1.2) ;
}
.card h5{
  text-align: center;
  font-weight:normal ;
}

#tit-pelu{
  text-align: center;
  font-weight: bolder;
  color: #c5a506;
}

.sec1{
  justify-content: space-around;
  font-size: large;
  margin: 2px 60px ;
  padding: 40px;
}

.col1{
  padding: 10px;
}

.col2 img{
  width: 70px;
  height: 70px;
  padding: 10px;
  
}

.col3{
  padding: 10px;
}

.sec2{
  justify-content: center;
}

.sec2 img{
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 20px;
}

.sec2 .col-varie h2{
  color: #c5a506;
  font-weight: bold;
  text-align: center;
}

.sec2 .col-varie h3{
  text-align: center;
  font-weight: bold;
}

.sec2 .col-varie ul{
  font-size: large;
  list-style-type: none;
}

article h2{
  color: #c5a506;
  font-weight: bold;
  text-align: center;
  margin: 30px 50px;
}

article h3{
  text-align: center;
  font-weight: bold;
}

article p{
  font-size: large;
  margin: 30px 50px;
}

/***** MEDIA QUERY PAGE PELUQUERIA***/
  
           /* Large devices (desktops, 992px and up) */
     @media (min-width: 992px) {
      
    }

          
         /* Medium devices (tablets, 768px and up) */
         /*TALET*/
     @media (max-width: 768px) { 
      .pelu{
        justify-content: center;
       gap: 3px;
      }
           
      .col2 img{
        display: none;
      }

      .sec2{
        justify-content: center;
        margin: 40px;
      }
      
      .sec2 img{
        width: 200px;
        height: 200px;
        margin: 40px;
        border-radius: 30px;
      }
      
      .sec2 .col-varie h2{
        color: #c5a506;
        font-weight: bold;
        text-align: center;
      }
      
      .sec2 .col-varie h3{
        text-align: center;
        font-weight: bold;
      }
      
      .sec2 .col-varie ul{
        font-size: large;
        list-style-type: none;
      }
     }

     
      /* Phones, 576px) */
     @media (max-width: 576px) { 
        .pelu{
        flex-direction: column;
        justify-content: center;
        margin-left: 45px;
        gap: 40px;
      }
          
      #tit-pelu{
        text-align: center;
        font-weight: bolder;
        color: #c5a506;
      }

      .sec2{
        justify-content: center;
        flex-direction: column;
      }
      
      .sec2 img{
        width: 200px;
        height: 200px;
        margin:  auto 30px;
        border-radius: 20px;
      }
      
      .sec2 .col-varie h2{
        color: #c5a506;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
      }
      
      .sec2 .col-varie h3{
        text-align: center;
        font-weight: bold;
      }
      
      .sec2 .col-varie ul{
        font-size: large;
        list-style-type: none;
      }
     }


     /*=================Page Contacto================*/

     .formulario {
      width: 500px;
      max-width: 100%;
      margin:auto;
      margin-top:100px;
      padding:20px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
      position: relative;
    }

      .formulario__titulo {
        text-align: center;
        margin-top: 0;
        color: rgba(0,0,0,0.7);

      }

      .formulario__input, .formulario__label, .formulario__submit  {
        display: block;
        width: 100%;
        font-size: 1.3em;
       
      }

      .formulario__input {
        padding: 20px;
        background: transparent;
        border: 1px solid rgba(0,0,0,0.3);
        margin-bottom: 40px;
      }

      .formulario__input:focus {
        outline: 1px solid rgba(0,0,0,0.7);

      }

      .formulario__input:focus  + 
      .formulario__label{
        margin-top: -150px;
      }

      .formulario__label {
        padding-left:15px;
        position:absolute;
        margin-top:-85px;
        z-index:-20;
        color: rgba(0,0,0,0.5);
        transition: all 0.2s;
      }

      .formulario__submit{
        background: rgba(0,0,0,0.7);
        color:white;
        padding:10px 20px;
        cursor: pointer;
        border:none;
      }

      .fijar{
        margin-top: -135px;
      }
    