/*sets globales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root{
  font-family: sans-serif;
  font-size: 62.5%;
}


.flex {
  display: flex;
}

.grid {
  display: grid;
}

body {
  background-image: url(../images/tarjeta/background\ 2.png);
  background-position: center;
  background-size: contain;
}

/*---------HEADER---------*/

.navbar {
  background-color: #f8f9fd;
  height: 8rem;
  padding: 0.5rem;
  margin: 1rem 1.2rem;
  border-radius: 1.4rem;
}

.nav-item a {
  color: #1667f7;
  transition: 0.1s;
  font-size: 2.2rem;
}

.nav-item a:hover {
  color: black;
  border-bottom: .1rem solid #1667f7;
}

.login-button {
  background-color: #1667f7;
  color: white;
  padding: .5rem .5rem;
  border-radius: .5rem;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: white;
  color: black;
  border: solid .1rem #1667f7;
}

/*-------------HERO-SECTION--------------*/

.hero {
  width: 100%;
  height: 80vh;
  margin: 0px auto;

  background-image: url(../images/hero/probar/pexels-tima-miroshnichenko-6235108.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  background-size: cover;
}
.hero .titulo {
  margin-left: 30rem;
}

.hero .titulo h1 {
  font-size: 4.8rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 900;
  color: #ffffff;
}

.hero .titulo a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  background-color: #1667f7;
  padding: 1rem;
  border-radius: .5rem;
  color: white;
  transition: 0.3 background-color;
}

.hero .titulo a:hover {
  background-color: white;
  color: #1667f7;
}

/*-------------tarjetitas--------------*/

.tarjetitas {
  height: 60rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tarjetitas div {
  margin: 2rem;
}

/*-------------columna-1-------------*/
.columna-1 {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.columna-1 div {
  height: 20rem;
  width: 18rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 1);
  margin: .8rem;
  padding: .6rem;
}

.tarjetitas .item{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  flex-direction: column;
  justify-content: end;
}

.tarjetitas .item:nth-child(2){
  color: #ffffff;
}

.img1 {
  background-image: url(../images/tarjeta/cruz.png);
}

.img2 {
  background-image: url(../images/tarjeta/diente.png);
}


.img3 {
  background-image: url(../images/tarjeta/pildora\ contorno.png);
}
.img4 {
  background-image: url(../images/tarjeta/hueso.png);
}


/*-------------columna-2-------------*/

.columna-2 {
  justify-content: center;
  align-items: center;
  width: 30rem;
  font-size: 2rem;
}

.columna-2 div a {
  background-color: #1667f7;
  border-radius: .4rem;
  text-decoration: none;
  color: white;
  padding: .4rem .8rem;

}






/*-------------Galeria--------------*/
.servicios {
  justify-content: center;
  align-items: center;
  height: 40rem;
}
.serv {
  width: 30rem;
  margin: 3rem;
  border-radius: .8rem;
  overflow: hidden;
}

.servicios img {
  height: 30rem;
  width: 25rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1.2rem;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 1);
  margin: 10px;
}

.serv h3 {
  display: flex;
  justify-content: center;
  background-color: #312722d0;
  color: #ffffff;
}

/*-------------Why---------------*/

.why {
  height: 80rem;
  margin-top: 3rem;
  font-size: 2.6rem;
}

.tit {
  height: 30rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circulo img {
  height: 20rem;
  width: 20rem;
  object-position: center;
  object-fit: cover;
}

.tar {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tar div {
  width: 20rem;
}

.carta {
  margin: 0px 6rem;
}
.texto{
  margin-top: 3rem;
}
.circulo {
  height: 20rem;
  width: 20rem;
  border-radius: 10rem;
  overflow: hidden;
  box-shadow: 3px 3px 13px 1px rgba(0, 0, 0, 1);
}

/*-------------Log-Testimonios---------------*/

.log-testimonios {
  background-image: url(../images/log-testimonios/2-removebg.png);
  background-position: center;
  background-size: cover;
  margin-left: 55rem;
  align-items: center;
  height: 30rem;
  position: relative;
}

.log-testimonios div a {
  text-decoration: none;
  background-color: #1667f7;
  color: white;
  padding: .6rem;
  border-radius: .6rem;
  font-size: 3rem;
}

/*-------------Footer---------------*/

footer{
  background-color: rgba(140, 147, 153, 0.56);
}

footer .contenido{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  max-width: 120rem;
  margin: 0 auto;
}

footer .contenido .box h4{
  padding: 0.5rem 0;
  font-size: 2.5rem;
}


footer .contenido .box a{
  display: block;
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
  
}


footer .contenido .box li{
  list-style: none;
}
/*-------------page- alimentacion---------------*/

.hero-alimentacion {
  background-image: url(../images/page-alimentacion/hero/2149392632.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 90%;
  margin: 0px auto;
}

.contenedor {
  max-width: 120rem;
  margin: 2rem auto;
}

.contenedor .contenedor-productos {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.contenedor .contenedor-productos .product {
  text-align: center;
  background-color: hsl(57, 35%, 75%);
  border-radius: 1.2rem;
  overflow: hidden;
  height: 40rem;
}
.contenedor .contenedor-productos .product img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1.2rem 1.2rem 0px 0px;
}

/*-------------Baner---------------*/

.baner {
  background-image: url(../images/banner/curious-cat-peering-from-white-backdrop.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40rem;
}

/*-------------Trending---------------*/

.trending {
  
  max-width: 120rem;
  margin: 2rem auto;
  grid-template-rows: repeat(2,40rem);
	grid-template-columns: repeat(3,1fr);
	gap: 1rem;
}

.trending .destacada{
  background-image: url(../images/page-alimentacion/trending/2150565427.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 1 / 3 / 3 / 4;
  justify-content: end;
  flex-direction: column;
  
}
.trending .destacada a{
  margin-bottom: 5rem;
}

.trending .item{
  text-align: center;
  overflow: hidden;
  
}
.trending .item img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 1.2rem;
} 

